body{
  height: 100%;
  overflow: hidden;
}

*{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

#man-with-computer{
  position: relative;
  bottom: 700px; left: 900px;
}

#container{
  width: 100vw;
  height: 100vh;
  background-image: url(../assets/olas.svg);
}

.container{
  display: flex;
  flex-direction: row;
}

.formulario{
  width: 30%;
  text-align: center;
}


.logo{
  width: 200px;
  height: 200px;
  margin-top: 100px;
  margin-bottom: 50px;
}

select, input{
  height: 25px;
}

select{
  width: 150px;
}

input{
  width: 300px;
  border-radius: 5px;
  border-width: 3px;
  border-color: blue;
}

.login-button{
  width: 200px;
  height: 50px;
  border-radius: 25px;
  font-size: 30px;
  background-color: blue;
}

.imagen{
  padding-top: 80px;
  padding-left: 120px;
}